.project-details-main-info-container{
    padding: 15px;    
    border-radius: 5px;
    
    overflow-y: auto;
    height: calc(100svh - 56px - 72px - 92px - 37px - 24px - 48px);
    max-height: calc(100svh - 56px - 72px - 92px - 37px - 24px - 48px);
}

.small-project-details-main-info-container{
    padding-top: 10px;   
    padding-right: 0px;  
    padding-left: 0px;  
    padding-bottom: 10px;   
    border-radius: 5px;
    
    overflow-y: auto;
    height: calc(100svh - 56px - 40px - 92px - 37px - 24px - 48px);
    max-height: calc(100svh - 56px - 40px - 92px - 37px - 24px - 48px);
}